<!DOCTYPE html>
<html>
<head>
   <title></title>
</head>
<body>
<iframe src="http://34.136.140.110/d-solo/4b545447f/1-kubernetes-all-in-one-cluster-monitoring-kr?orgId=1&refresh=5s&from=1634250551933&to=1634261351933&panelId=145" width="450" height="200" frameborder="0"></iframe>
<iframe src="http://34.136.140.110/d-solo/4b545447f/1-kubernetes-all-in-one-cluster-monitoring-kr?orgId=1&refresh=5s&var-node=ip-192-168-16-92.us-west-2.compute.internal&var-duration=5m&var-instance=192.168.16.92:9100&var-namespace=default&var-pod=webtest-fdf54587f-f2lrs&from=1634251444333&to=1634262244333&panelId=179" width="450" height="200" frameborder="0"></iframe>
</body>
</html>