<!DOCTYPE html>
<html>

<head>
	<title>Azure Dashboard</title>
	<!-- <link href="style.css" type="text/css" rel="stylesheet"> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	{% for user in users %}
	<header>
		<div class="navbar">
			<div class="nav"><a href="/"><span class="HL-move">HOME</span></a></div>
			<div class="nav"><a href="/aws"><span class="HL-move">AWS</span></a></div>
			<div class="nav"><a href="/azure"><span class="HL-half">Azure</span></a></div>
			<div class="nav"><a href="/gcp"><span class="HL-move">GCP</span></a></div>
		</div>
	</header>
	<div class="title-1">
		∨ 파드 현황
	</div>
	<!-- cpu, 디스크, 노드별cpu, 노드별 메모리-->
	<div class="container">
		<iframe src="http://{{user.grafana_ip}}/d-solo/azure/azure?orgId=1&refresh=5s&theme=light&panelId=111" width="100%"
			height="100%" frameborder="0"></iframe>
	</div>
	</div>
	<br>
	<div class="title-1">
		∨ 노드 현황
	</div>
	<!-- 노드  -->
	<div class="container">
		<div>
			<iframe src="http://{{user.grafana_ip}}/d-solo/azure/azure?orgId=1&refresh=5s&theme=light&panelId=222" width="100%" height="100%"
				frameborder="0"></iframe>
		</div>
	</div>
	<br>
	<div class="title-1">
		∨ 네트워크
	</div>
	<!-- 초당 네트워크 트래픽, API 호출 -->
	<div class="container">
		<div class="box-2">
			<iframe src="http://{{user.grafana_ip}}/d-solo/azure/azure?orgId=1&refresh=5s&theme=light&panelId=333" width="100%"
				height="100%" frameborder="0"></iframe>
		</div>
		<div class="box-2">
			<iframe src="http://{{user.grafana_ip}}/d-solo/azure/azure?orgId=1&refresh=5s&theme=light&panelId=444" width="100%"
				height="100%" frameborder="0"></iframe>
		</div>
		<div class="box-2">
			<iframe src="http://{{user.grafana_ip}}/d-solo/azure/azure?orgId=1&refresh=5s&theme=light&panelId=555" width="100%"
				height="100%" frameborder="0"></iframe>
		</div>
		<div class="box-2">
			<iframe src="http://{{user.grafana_ip}}/d-solo/azure/azure?orgId=1&refresh=5s&theme=light&panelId=666" width="100%"
				height="100%" frameborder="0"></iframe>
		</div>
	</div>
	<footer>
		Copyright (C) 2021. COYAHO. All rights reserved.&nbsp;
		<a href="https://github.com/CSID-DGU/2021-2-CSC4031-COYAHO"><img
				src="{{ url_for('static', filename='media/git.png')}}"></a>&nbsp;<span>github</span>
	</footer>
	{% endfor %}
</body>

</html>