<!DOCTYPE html>
<html>

<head>
	<title>CLOUD MONITORING</title>
	<!-- <link href="style.css" type="text/css" rel="stylesheet"> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</head>

<body style="background-color: lightgray; color: black;">
	<header>
		<div class="navbar" style="position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;
		padding: 2rem;
		margin: 10px;">
			<div class="nav" style="font-family: Consolas;
			font-weight: bold;
			font-style: italic;
			font-size: 25px;"><a href="/"><span class="HL-half">HOME</span></a></div>
			<div class="nav" style="font-family: Consolas;
			font-weight: bold;
			font-style: italic;
			font-size: 25px;"><a href="/aws"><span class="HL-move">AWS</span></a></div>
			<div class="nav" style="font-family: Consolas;
			font-weight: bold;
			font-style: italic;
			font-size: 25px;"><a href="/azure"><span class="HL-move">Azure</span></a></div>
			<div class="nav" style="font-family: Consolas;
			font-weight: bold;
			font-style: italic;
			font-size: 25px;"><a href="/gcp"><span class="HL-move">GCP</span></a></div>
		</div>
	</header>
	<div class="box-home">
		<div class="title-2" style="text-align: center;">Sign Up</div>
			<div class="box-home-inner" style="opacity: 1; text-align: left;">
				<div class="container">
					<div class="row mt-5">
						<div class="col-12">
							<form method="POST">
								<div class="form-group">
									<label for="userid">아이디</label>
									<input type="text" class="form-control" id="userid" placeholder="아이디"
										name="userid" />
								</div>
								<div class="form-group">
									<label for="password">비밀번호</label>
									<input type="password" class="form-control" id="password" placeholder="비밀번호"
										name="password" />
								</div>
								<div class="form-group">
									<label for="re_password">비밀번호확인</label>
									<input type="password" class="form-control" id="re_password" placeholder="비밀번호확인"
										name="re_password" />
								</div>
								<div class="form-group">
									<label for="grafana_ip">그라파나 IP</label>
									<input type="text" class="form-control" id="grafana_ip" placeholder="그라파나 IP"
										name="grafana_ip" />
								</div>
								<button type="submit" class="btn btn-primary">등록</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		<footer>
			Copyright (C) 2021. COYAHO. All rights reserved.&nbsp;
			<a href="https://github.com/CSID-DGU/2021-2-CSC4031-COYAHO"><img
					src="{{ url_for('static', filename='media/git.png')}}"></a>&nbsp;<span>github</span>
		</footer>
	</div>
</body>
</html>